<!--
Generated template for the Login page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Bem vindo à LOK</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img class="logo" src="assets/icon/LOK.png">

  <form [formGroup]="userFormBuilder" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.email.pristine && !userFormBuilder.controls.email.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.email.pristine && userFormBuilder.controls.email.hasError('required')">
          Este é um campo obrigatório.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.password.pristine && !userFormBuilder.controls.password.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.password.pristine && userFormBuilder.controls.password.hasError('required')">
          Este é um campo obrigatório.
        </p>
      </ion-item>
    </ion-list>
    <button ion-button block full color="secondary" type="submit" [disabled]="!userFormBuilder.valid">Log in</button>
  </form>
  <button ion-button block full (click)="signUp()">Sign up</button>
  <button ion-button block outline full (click)="resetPassword()">Lost your password?</button>

  <ion-fab bottom right>
    <button ion-fab color="secondary">OAuth</button>
    <ion-fab-list side="left">
        <button ion-fab color="facebook"
          (click)="signInWithOAuth('Facebook')">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button ion-fab color="google"
          (click)="signInWithOAuth('Google')">
          <ion-icon name="logo-googleplus"></ion-icon>
        </button>
        
    </ion-fab-list>
  </ion-fab>
</ion-content>
